<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/5/cerulean/bootstrap.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


<form class="form" action="http://localhost:8000/upload" id="upload_csv" method="post" enctype="multipart/form-data">
<fieldset>
</div>
    </div>
    <div class="form-group">
      <label for="inputRaceName">Race Name</label>
      <input type="text" class="form-control" id="inputRaceName1" name="inputRaceName1" placeholder="Race Name">
    </div>
    <div class="form-group">
      <label for="inputDate">Date of the race</label>
      <input type="date" class="form-control" id="inputDate1" name="inputDate1" placeholder="Date of the race">
      <br>
    </div>
    <p class="text-primary">Import your CSV file and press ok:</p>
    <div class="d-grid gap-2">
   {# - <form id="upload_csv" method="post" enctype="multipart/form-data">  #}
  {# <button class="btn btn-lg btn-primary" type="button" style="height:50px;width:200px">Import CSV</button> #}
  <input type="file" name="csv_file" id="csv_file", accept=".csv" style="margin-top:15px;" />
  <br>
</div>
    <button  type="submit" name="upload" id="upload" class="btn btn-primary">OK</button> 
{# <input type="submit" name="upload" id="upload" value="Upload" style="margin-top:10px;" class="btn btn.info" /> #}
<br>
 -- <div id="csv_file_data">
 {% for file in files %}
 <tr>
    <td><a href="#">{{file.id}}</a></td>
    <td><a href="/download-file/{{ file.id }}">{{ file.raceName }}</a></td>
    <td><a href="#">{{file.raceName}}</a></td>
    <td><a href="#">{{file.raceName}}</a></td>
 </tr>
 {% endfor %}
 </div>
  </fieldset>
</form>
    </body>
</html>

