{# {% extends 'race/index.html.twig' %} #}

   {% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Results{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/5/cerulean/bootstrap.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {# <h1>{{file.raceName}}</h1> #}
    </head>
    <body>
    {% for file in files %}
     <h1> {{file.raceName}}</h1>
     <h2> {{file.date}}</h2>

 {% endfor %}
     
        <h1>Tables:</h1>
        
     {% block content %}
     <table><caption>Medium Distance Table</caption>
     <thead>
     <tr>
          <th>Average Finish Time:</th>
          <th colspan="2">Vrime koje bi tribalo izracunat iz podataka</th>
     </tr>
     </thead>
     <tbody>
     <tr>
          <th>Full Name</th>
          <th>Finish Time </th>
          <th>Placement</th>
          <th>          </th>
     </tr>
          <td>Ime Ucesnika</td>
          <td>Vrijeme zavrsetka</td>
          <td>Mjesto</td>
          <td>Edit</td>
     </tbody>
     
     
     </table>
          
          
     {% endblock %}
        
        
        
        {% endblock %}
